<div class="container my-5 ">

  <div class="row m-3">
    <h4 style="background-color:#dcdcdc;">マイページ</h4>
  </div>

  <div class="row">
    <div class="col-md-8">
      <h5 class="font-weight-bold my-3 d-inline-flex">登録情報</h5><span class="ml-5"><%= link_to "編集する", customers_information_edit_path, class: "btn btn-success btn-sm" %></span>
      <table class="table table-bordered table-hover mt-3">
    <tbody>
        <tr>
            <td style="background-color:#dcdcdc;">氏名</td>
             <td><%= @customer.last_name %> <%= @customer.first_name %></td>
        </tr>
        <tr>
            <td style="background-color:#dcdcdc;">カナ</td>
            <td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
        </tr>
        <tr>
            <td style="background-color:#dcdcdc;">郵便番号</td>
            <td class="light-text"><%= @customer.postcode %></td>
        </tr>
        <tr>
            <td style="background-color:#dcdcdc;">住所</td>
            <td class="light-text"><%= @customer.address %></td>
        </tr>
        <tr>
            <td style="background-color:#dcdcdc;">電話番号</td>
            <td class="light-text"><%= @customer.phone_number %></td>
        </tr>
        <tr>
            <td style="background-color:#dcdcdc;">メールアドレス</td>
            <td class="light-text"><%= @customer.email %></td>
        </tr>
    </tbody>
</table>

      <div class="row">
        <div class="col-md-3 d-flex flex-column">
          <h5 class="font-weight-bold my-3 d-inline-flex">配送先</h5>
          <h5 class="font-weight-bold my-3 d-inline-flex">注文履歴</h5>
        </div>
        <div class="col-md-3 d-flex flex-column">
          <div class="my-3"><%= link_to "一覧を見る", addresses_path, class: "btn btn-primary btn-sm" %></div>
          <div class="my-2"><%= link_to "一覧を見る", orders_path, class: "btn btn-primary btn-sm" %></div>
        </div>
      </div>
    </div>
  </div>
</div>