<div class="container my-5">
  <div class="row">
    <h2 style="background-color:#dcdcdc;">商品編集</h2>
  </div>

    <!--colのサイズ設定-->
    <%= form_with model: @item, url: admin_item_path(@item.id), local: true do |f| %>
      <table>
        <tr>
          <th>商品画像</th>
          <td><%= f.file_field :image %></td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
          <th>商品名</th>
          <td><%= f.text_field :name %></td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
          <th>商品説明</th>
          <td><%= f.text_area :explanation %></td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
          <th>ジャンル</th>
          <td><%= f.collection_select(:genre_id, @genres, :id, :name, prompt: "選択してください") %></td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
          <th>税抜価格</th>
          <td><%= f.text_field :price %>円</td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
          <th>販売ステータス</th>
          <td>
            <%= f.radio_button :is_active, :true %>
            <%= f.label :is_active, "販売中" %>
            <%= f.radio_button :is_active, :false %>
            <%= f.label :is_active, "販売停止中" %>
          </td>
        </tr>
      </table>
      <br>
      <%= f.submit "変更を保存", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>