<div class="container my-5 ">

  <div class="row m-5">
    <h4>注文履歴詳細</h4>
  </div>

  <div class="container">
  <div class="row">
    <div class="col">
      <h3>注文情報</h3>
      <table class="table table-bordered ">
        <tr>
          <td class="table-active">注文日</td>
          <td><%= @order.created_at.strftime("%Y/%m/%d") %></td>
        </tr>
        <tr>
          <td class="table-active">配送先</td>
          <td><%= @order.address %></td>
        </tr>
        <tr>
          <td class="table-active">支払方法</td>
          <td><%= @order.payment_method_i18n %></td>
        </tr>
        <tr>
          <!--モデル参照-->
          <td class="table-active">ステータス</td>
          <td><%= @order.status_i18n %></td>
        </tr>
      </table>
    </div>


    <div class="col">
      <h3>請求情報</h3>
      <table class="table table-bordered">
        <tr>
          <td class="table-active">商品合計</td>
          <td><%= (@order.total_payment).to_s(:delimited) %> 円</td>
        </tr>
        <tr>
          <td class="table-active">配送料</td>
          <td><%= @order.shipping_cost %> 円</td>
        </tr>
        <tr>
          <td class="table-active">ご請求額</td>
          <td><%= (@order.total_payment + @order.shipping_cost).to_s(:delimited)%> 円</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>注文内容</h3>
      <table class="table table-bordered">
        <tr>
          <th class="table-active">商品</th>
          <th class="table-active">単価（税込）</th>
          <th class="table-active">個数</th>
          <th class="table-active">小計</th>
        </tr>
        <tbody>
          <% @order.order_details.each do |item| %>
          <tr>
            <td><%= item.item.name %></td>
            <td><%= (item.item.add_tax_price) %> 円</td>
            <td><%= item.amount %> 個</td>
            <td><%= ((item.item.add_tax_price) * item.amount).to_s(:delimited) %> 円</td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>