<div class="container">
  <div class="row">
    
    <div class="col-2 p-2">
      <%= render "public/items/genre", genres: @genres %>
    </div>
    
    <div class="col-md-9 offset-md-1 my-5">
      <h2>商品一覧（全<%= @items.count %>件）</h2>
      <div class='d-flex justify-content-start flex-wrap mb-5'>
        <% @items.each do |item| %>
        <div class="col-md-3">
          <%= link_to item_path(item) do %>
          <%= image_tag item.get_item_image(100,100) %>
          <% end %><br>
          <%= item.name %><br>
          ￥<%= item.price %><br>
        </div>
        <% end %>
      </div>
    </div>
  
  </div>
</div>