<!-- ヘッダー用部分テンプレート -->

<header>
  <nav class="navbar navbar-expand-lg navbar-light p-1">
    <div class="container">

      <div class="collapse navbar-collapse float-right" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">


           <% if customer_signed_in? %>

            <li><%= link_to 'マイページ' %></li>
            <li><%= link_to '商品一覧' %></li>
            <li><%= link_to 'カート' %></li>
            <li><%= link_to 'ログアウト' %></li>
          <% else %>
            <li><%= link_to 'About' %></li>
            <li><%= link_to '商品一覧' %></li>
            <li><%= link_to '新規登録' %></li>
            <li><%= link_to 'ログイン' %></li>
          <% end %>
        </ul>

        <nav class="navbar navbar-light ">
         <div class="container-fluid">
          <form class="d-flex">
           <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
         </div>
        </nav>

      </div>
    </div>
  </nav>
</header>